// Standard Screen Breaking Positions

$ssize-mini: 220px;
$ssize-xsmall: 320px;
$ssize-small: 480px;
$ssize-medium: 768px;
$ssize-large: 1024px;
$ssize-xlarge: 1200px;
$ssize-xxlarge: 1502px;

// Default Screen Sizes

$screen-mini: $ssize-mini + 1;
$screen-xsmall: $ssize-xsmall + 1;
$screen-small: $ssize-small + 1;
$screen-medium: $ssize-medium + 1;
$screen-large: $ssize-large + 1;
$screen-xlarge: $ssize-xlarge + 1;
$screen-xxlarge: $ssize-xxlarge + 1;

// Short Names according to the Screen Sizes

$name-mini: mn;
$name-xsmall: xsm;
$name-small: sm;
$name-medium: md;
$name-large: lg;
$name-xlarge: xlg;
$name-xxlarge: xxlg;

// Base Names of Elements

$grid_base: grid;           // Base Name for Grid
$container_base: container; // Base Name for Container
$column_base: column;       // Base Name for Grid Column
$display_base: display;     // Base Name for Display
$justify_base: justify;     // Base Name for Justify
$content_base: content;     // Base Name for Flex Content Align
$item_base: item;           // Base Name for Flex Item Align
$self_base: self;           // Base Name for Flex Self Align
$place_base: place;         // Base Name for Place Content, Item and Self

$width_base: w;             // Base Name for Width
$min_width_base: mw;        // Base Name for Min Width
$max_width_base: maxw;      // Base Name for Max Width
$height_base: h;            // Base Name for Height
$min_height_base: mh;       // Base Name for Min Height
$max_height_base: maxh;     // Base Name for Max Height

$padding_base: pad;         // Base Name for Padding
$margin_base: mar;          // Base Name for Padding

$border_base: border;       // Base Name for Border
$shadow_base: shadow;       // Base Name for Shadow

$typography_base: text;     // Base Name for Typography

// Variables -> Grid system

$total_column: 12;
$grid_gutter: 10px;

// Variables -> Typography

$rem-base-font: 16px;
$fl-ratio: 1.4;